body,html{
  height :100%;
  width : 100%;
  margin : 0;
  background-color:green;
background-image: radial-gradient(pink 30%, transparent 31%),
radial-gradient(pink 30%, transparent 31%);
background-size:60px 60px;
background-position: 0 0, 30px 30px;
  
}

.main{
  display :table;
  height : 100%;
  width : 100%;
}

.wrapper{
  display : table-cell;
  vertical-align : middle;
}

.outer{
  height : 600px;
  width : 600px;
  background : linear-gradient(blue,tomato);
  margin : auto;
}

table,tr,td{
  border : 5px solid black;
  border-collapse: collapse;
  text-align : center;
  position : relative;
}

table{
  position : relative;
  height : 80%;
  width : 80%;
  top : 50%;
  left : 50%;
  transform : translate(-50%,-50%);
  
}

td.x:before,td.x:after{
  content:"";
  position :absolute;
  top : 0;
  width : 10px;
  height :100%;
  background : green;
  pointer-events:none;
}

td.x:before{
  transform : rotate(45deg);
}

td.x:after{
  transform : translateX(-50%) rotate(-45deg);
}

td{

}

td.o:before{
  content:"";
  position :absolute;
  top : 5%;
  left : 5%;
  bottom :5%;
  right : 5%;
  width : 90%;
  height :90%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border : 5px solid blue;
  border-radius : 50%;
  pointer-events:none;
}